<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="../../static/css/otherQnA-list.css">
</head>

<body>
  <header class="main-header">
    <div class="logo">
        <a href="../home/templates/home.html">
            <img class="main-logo" src="../../static/img/main-logo.svg"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="../experience/templates/experience-list.html">활동 후기</a></li>
        <li><a href="#">자소서·면접·포폴</a></li>
        <li><a href="#">모집</a></li>
        <li><a href="#">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <button class="mypage-btn">마이페이지</button>
      <button class="login-btn">로그인</button>
    </div>
  </header>

  <main>
    <div class="other-profile-userInfo">
      <div class="other-profile-userImg"></div>
      <div class="other-profile-userId">닉네임</div>
      <div class="other-profile-academic">
        <span class="other-profile-Grade">2학년</span>
        <span class="other-profile-major">컴퓨터공학과</span>
      </div>
      <div class="other-profile-userEmail">
        <span class="other-profile-email-label">이메일 | </span>
        <span class="otherQnA-profile-email-value">sujeong@naver.com</span>
      </div>
    </div>

    <div class="otherQnA-list-wrapper">
      <div class="other-profile-menu">
        <a herf="#">
          <button type="button" class="other-profile-roadmap">로드맵</button>
        </a>
        
        <a href="otherQnA-list">
          <button type="button" class="other-profile-qna">Q&A</button>
        </a>
        
        <a href="otherQnA-post.html">
          <button type="button" class="otherQnA-list-writeBtn">글쓰기</button>
        </a>
      </div>

      <!--mock 데이터-->
      <div class="otherQnA-list">
        <a href="otherQnA-detail.html" class="otherQnA-list-link">
          <div class="otherQnA-list-card">
            <span class="otherQnA-list-title">제목</span>
            <span> | </span>
            <span class="otherQnA-list-userId">닉네임</span>
            <span>></span>
          </div>
        </a>

        <a href="otherQnA-detail.html" class="otherQnA-list-link">
          <div class="otherQnA-list-card">
            <span class="otherQnA-list-title">제목</span>
            <span> | </span>
            <span class="otherQnA-list-userId">닉네임</span>
            <span>></span>
          </div>
        </a>

        <a href="otherQnA-detail.html" class="otherQnA-list-link">
          <div class="otherQnA-list-card">
            <span class="otherQnA-list-title">제목</span>
            <span> | </span>
            <span class="otherQnA-list-userId">닉네임</span>
            <span>></span>
          </div>
        </a>

        <a href="otherQnA-detail.html" class="otherQnA-list-link">
          <div class="otherQnA-list-card">
            <span class="otherQnA-list-title">제목</span>
            <span> | </span>
            <span class="otherQnA-list-userId">닉네임</span>
            <span>></span>
          </div>
        </a>

        <a href="otherQnA-detail.html" class="otherQnA-list-link">
          <div class="otherQnA-list-card">
            <span class="otherQnA-list-title">제목</span>
            <span> | </span>
            <span class="otherQnA-list-userId">닉네임</span>
            <span>></span>
          </div>
        </a>

        <a href="otherQnA-detail.html" class="otherQnA-list-link">
          <div class="otherQnA-list-card">
            <span class="otherQnA-list-title">제목</span>
            <span> | </span>
            <span class="otherQnA-list-userId">닉네임</span>
            <span>></span>
          </div>
        </a>
      </div>
    </div>

  </main>

  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>
</body>
</html>


