/venv/
/myvenv/

*.pot
*.pyc
__pycache__/
migrations/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/image
media/jobtips/
media/recruit_images/
media/review_files/
media/roadmap/
media/verification_docs/