<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="../../static/css/recruit/recruit-list.css">
</head>

<body>
  <header class="main-header">
    <div class="logo">
        <a href="{%url "home:home"%}">
            <img class="main-logo" src="{% static "img/main-logo.svg"%}"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="{% url 'experience:review_list' %}">활동 후기</a></li>
        <li><a href="{%url "jobTips:list"%}">자소서·면접·포폴</a></li>
        <li><a href="{%url "recruit:recruit_list"%}">모집</a></li>
        <li><a href="{%url "career:roadmap_home"%}">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <a href="{%url "mypage:home"%}"><button class="header-mypage-btn" >마이페이지</button></a>
      {% if user.is_authenticated %}
        <a href="{%url "accounts:logout"%}"><button class="header-login-btn">로그아웃</button></a>
      {% else %}
        <a href="{%url "accounts:login"%}"><button class="header-login-btn">로그인</button></a>
      {% endif %}
    </div>
  </header>

  <main>
  <div class="container">

   <!-- 전체 검색 + 필터 form 하나로 묶음 -->
    <form method="GET" id="filter-form" class="recruit-search-form">
      <!-- 검색창 -->
      <div class="recruit-search-section">
        <input 
          type="search" 
          placeholder="활동명으로 검색하기"
          class="recruit-search-input"
        />

        <button type="submit" class="recruit-search-btn">
          <img src="../../static/img/search.svg" alt="검색">
        </button>
      </div>
      
      <!-- 숨겨진 값 (카테고리 / 정렬) -->
      <input type="hidden" id="filter-category">
      <input type="hidden" id="filter-ordering">
      
      <!-- 필터링- 카테고리 -->
      <nav class="recruit-filter-tabs">
        <ul>
          <li><button type="button" class="tab-btn" data-category="">전체</button></li>
          <li><button type="button" class="tab-btn" data-category="동아리">동아리</button></li>
          <li><button type="button" class="tab-btn" data-category="공모전">공모전</button></li>
          <li><button type="button" class="tab-btn" data-category="스터디">스터디</button></li>
        </ul>
      </nav>

      <!-- 필터링 - 정렬 -->
      <div class="recruit-sub-filter-bar">
        <div class="recruit-sub-filters">
          <ul>
            <li><button type="button" class="order-btn" data-order="latest">최신순</button></li>
            <li><button type="button" class="order-btn" data-order="recruiting">모집중</button></li>
            <li><button type="button" class="order-btn" data-order="closed">모집완료</button></li>
          </ul>
        </div>
      </div>

      <!-- 맞춤 필터링 -->
      <div class="recruit-sub-filter-row">
        <div class="recruit-custom-filter">
          <select class="recruit-filter-select">
            <option value="">단과대 전체</option>
            <option value="engineering">공과대학</option>
            <option value="humanities">인문대학</option>
          </select>

          <select class="recruit-filter-select">
            <option value="">학과 전체</option>
            <option value="computer">컴퓨터공학과</option>
            <option value="ai">AI학과</option>
          </select>

          <select class="recruit-filter-select">
            <option value="">학년 전체</option>
            <option value="1">1학년</option>
            <option value="2">2학년</option>
            <option value="3">3학년</option>
            <option value="4">4학년</option>
            <option value="5">휴학</option>
            <option value="6">졸업</option>
          </select>

          <button type="submit" class="recruit-custom-filter-btn">
            맞춤 검색
          </button>
        </div>
        <a class="recruit-write-btn" href="./recruit-post.html">글쓰기</a>
      </div>
    </form>
    <div class="recruit-divider"></div>

    <div class="recruit-list">

      <!-- 연동 시 카드 구조 참고용

      <a href="./recruit-detail.html" class="recruit-card-link">
        <div class="recruit-card">
          <div class="recruit-card-header">
            <div class="recruit-card-header-box">
            <div class="recruit-card-lcategory">동아리</div>
            <div class="recruit-card-rcategory">모집중</div>
            </div>
            <div class="recruit-card-date">2024.11.12</div>
          </div>
          <div class="recruit-card-title">컴공 과동아리 신입 부원 모집</div>
          <div class="recruit-card-nickname">코딩러버</div>
          <div class="recruit-card-period">2024.03 - 2024.11</div>
          <div class="recruit-card-footer">
            <div class="recruit-card-field">모집 분야</div>
            <div class="recruit-card-like"><img class="recruit-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a> -->

    </div>

    <!-- 페이지네이션 -->
    <div class="recruit-pagination">
      <button class="recruit-page-btn">&lt;</button>
      <button class="recruit-page-btn active">1</button>
      <button class="recruit-page-btn">2</button>
      <button class="recruit-page-btn">3</button>
      <button class="recruit-page-btn">&gt;</button>
    </div>
  </div>
  </main>

  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>
  
  <script src="../../static/js/board-list.js"></script>
</body>
</html>


