<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="../../static/css/recruit/recruit-post.css">
</head>

<body>
  <header class="main-header">
    <div class="logo">
        <a href="../../home/templates/home.html">
            <img class="main-logo" src="../../static/img/main-logo.svg"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="../../experience/templates/experience-list.html">활동 후기</a></li>
        <li><a href="#">자소서·면접·포폴</a></li>
        <li><a href="#">모집</a></li>
        <li><a href="#">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <button class="header-mypage-btn">마이페이지</button>
      <button class="header-login-btn">로그인</button>
    </div>
  </header>

<main>
  <div class="container">

    <h2 class="recruit-post-title">모집하기</h2>

    <form method="POST" enctype="multipart/form-data" class="recruit-post-form">
      <label class="recruit-post-label">제목</label>
      <input type="text" class="recruit-post-input" placeholder="활동 제목을 간단히 입력해주세요 (예: Sungshin AI Study 3기 모집)" required>
      
      <label class="recruit-post-label">카테고리</label>
      <div class="recruit-post-category">
        <label><input type="radio" value="동아리" required> 동아리</label>
        <label><input type="radio" value="공모전"> 공모전</label>
        <label><input type="radio" value="스터디"> 스터디</label>
      </div>

      <label class="recruit-post-label">모집 분야</label>
      <input type="text" class="recruit-post-input" placeholder="예: 프로그래밍, 글쓰기, 프레젠테이션" required>

      <label class="recruit-post-label">모집 마감일</label>
      <input
        type="date"
        class="recruit-post-input"
        required
      >

      <label class="recruit-post-label">활동 소개</label>
      <textarea class="recruit-post-textarea" required></textarea>

      <label class="recruit-post-label">파일 업로드</label>
      <div class="recruit-post-upload-area">
        <label class="recruit-post-upload-btn">
          +
          <input type="file" id="recruit-upload-input" multiple required>
        </label>

        <div class="recruit-post-upload-preview" id="recruit-post-upload-preview">
          <!-- 업로드된 이미지 미리보기, 파일명 미리보기(다중 선택 가능) -->
        </div>
      </div>

      <label class="recruit-post-label">연결 링크</label>
      <input class="recruit-post-input" placeholder="카카오톡 오픈채팅방이나 메일 주소" required>
      
      <label class="recruit-post-label">태그 추가</label>
      <div class="recruit-tag-input-wrapper">
        <input type="text" id="recruit-tag-input" class="recruit-tag-input" placeholder="태그를 입력해주세요">
        <button type="button" id="recruit-add-tag-btn" class="recruit-tag-add-btn">추가</button>
      </div>
      <!-- 태그 보여주는 영역 -->
      <div class="recruit-tag-list" id="recruit-tag-list"></div>
      <!-- 서버로 보낼 hidden input -->
      <input type="hidden" id="recruit-hidden-tags" name="tags">

      <button type="submit" class="recruit-post-submit-btn">
        완료하기
      </button>
    </form>

  </div>
</main>


  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>

  <script src="../../static/js/recruit-post.js"></script>
</body>
</html>