<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="../../static/css/jobtips/jobtips-list.css">
</head>

<body>
  <header class="main-header">
    <div class="logo">
        <a href="{%url "home:home"%}">
            <img class="main-logo" src="{% static "img/main-logo.svg"%}"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="{% url 'experience:review_list' %}">활동 후기</a></li>
        <li><a href="{%url "jobTips:list"%}">자소서·면접·포폴</a></li>
        <li><a href="{%url "recruit:recruit_list"%}">모집</a></li>
        <li><a href="{%url "career:roadmap_home"%}">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <a href="{%url "mypage:home"%}"><button class="header-mypage-btn" >마이페이지</button></a>
      {% if user.is_authenticated %}
        <a href="{%url "accounts:logout"%}"><button class="header-login-btn">로그아웃</button></a>
      {% else %}
        <a href="{%url "accounts:login"%}"><button class="header-login-btn">로그인</button></a>
      {% endif %}
    </div>
  </header>

  <main>
  <div class="container">
    
    <!-- 전체 검색 + 필터 form 하나로 묶음 -->
    <form method="GET" id="filter-form" class="jobtips-search-form"action="{% url 'jobTips:search-jobTips' %}">

      <!-- 검색창 -->
      <div class="jobtips-search-section">
        <input 
          type="search" 
          placeholder="활동명으로 검색하기"
          class="jobtips-search-input"
          name="q"
          value="{{ q_query|default:'' }}"
        />
        <button type="submit" class="jobtips-search-btn">
          <img src="../../static/img/search.svg" alt="검색">
        </button>
      </div>

      <!-- 숨겨진 값 (카테고리 / 정렬) -->
      <input type="hidden" id="filter-category" name="category" value="{{ category }}">
      <input type="hidden" id="filter-ordering" name="order" value="{{ order }}">

      <!-- 필터링- 카테고리 -->
      <nav class="jobtips-filter-tabs">
        <ul>
          <li><button type="button" class="tab-btn" onclick="setCategory('')">전체</button></li>
          <li><button type="button" class="tab-btn" onclick="setCategory('resume')">자소서</button></li>
          <li><button type="button" class="tab-btn" onclick="setCategory('interview')">면접</button></li>
          <li><button type="button" class="tab-btn" onclick="setCategory('portfolio')">포트폴리오</button></li>
        </ul>
      </nav>

      <!-- 필터링 - 정렬 -->
      <div class="jobtips-sub-filter-bar">
        <div class="jobtips-sub-filters">
          <ul>
            <li><button type="button" class="order-btn" onclick="setOrder('latest')">최신순</button></li>
            <li><button type="button" class="order-btn" onclick="setOrder('agree')">공감순</button></li>
          </ul>
        </div>
      </div>

      <!-- 맞춤 필터링 -->
      <div class="jobtips-sub-filter-row">
        <div class="jobtips-custom-filter">
          <select class="jobtips-filter-select" name="college">
            <option value="" {% if selected_college == '' %}selected{% endif %}>단과대 전체</option>
            <option value="공과대학" {% if selected_college == '공과대학' %}selected{% endif %}>공과대학</option>
            <option value="인문대학" {% if selected_college == '인문대학' %}selected{% endif %}>인문대학</option>
            <option value="간호대학" {% if selected_college == '간호대학' %}selected{% endif %}>간호대학</option>
            <option value="미술대학" {% if selected_college == '미술대학' %}selected{% endif %}>미술대학</option>
            <option value="법과대학" {% if selected_college == '법과대학' %}selected{% endif %}>법과대학</option>
            <option value="사범대학" {% if selected_college == '사범대학' %}selected{% endif %}>사범대학</option>
            <option value="사회과학대학" {% if selected_college == '사회과학대학' %}selected{% endif %}>사회과학대학</option>
            <option value="생활산업대학" {% if selected_college == '생활산업대학' %}selected{% endif %}>생활산업대학</option>
            <option value="인문융합예술대학" {% if selected_college == '인문융합예술대학' %}selected{% endif %}>인문융합예술대학</option>
            <option value="자연과학대학" {% if selected_college == '자연과학대학' %}selected{% endif %}>자연과학대학</option>
          </select>

          <select class="jobtips-filter-select" name="department">
            <option value="" {% if selected_department == '' %}selected{% endif %}>학과 전체</option>
            <option value="간호학과" {% if selected_department == '간호학과' %}selected{% endif %}>간호학과</option>
            <option value="바이오생명공학과" {% if selected_department == '바이오생명공학과' %}selected{% endif %}>바이오생명공학과</option>
            <option value="바이오식품공학과" {% if selected_department == '바이오식품공학과' %}selected{% endif %}>바이오식품공학과</option>
            <option value="바이오신약의과학부" {% if selected_department == '바이오신약의과학부' %}selected{% endif %}>바이오신약의과학부</option>
            <option value="청정신소재공학과" {% if selected_department == '청정신소재공학과' %}selected{% endif %}>청정신소재공학과</option>
            <option value="AI융합학부" {% if selected_department == 'AI융합학부' %}selected{% endif %}>AI융합학부</option>
            <option value="서비스·디자인공학과" {% if selected_department == '서비스·디자인공학과' %}selected{% endif %}>서비스·디자인공학과</option>
            <option value="융합보안공학과" {% if selected_department == '융합보안공학과' %}selected{% endif %}>융합보안공학과</option>
            <option value="컴퓨터공학과" {% if selected_department == '컴퓨터공학과' %}selected{% endif %}>컴퓨터공학과</option>
            <option value="공예과" {% if selected_department == '공예과' %}selected{% endif %}>공예과</option>
            <option value="동양화과" {% if selected_department == '동양화과' %}selected{% endif %}>동양화과</option>
            <option value="디자인과" {% if selected_department == '디자인과' %}selected{% endif %}>디자인과</option>
            <option value="서양화과" {% if selected_department == '서양화과' %}selected{% endif %}>서양화과</option>
            <option value="조소과" {% if selected_department == '조소과' %}selected{% endif %}>조소과</option>
            <option value="법학부" {% if selected_department == '법학부' %}selected{% endif %}>법학부</option>
            <option value="교육학과" {% if selected_department == '교육학과' %}selected{% endif %}>교육학과</option>
            <option value="사회교육과" {% if selected_department == '사회교육과' %}selected{% endif %}>사회교육과</option>
            <option value="유아교육과" {% if selected_department == '유아교육과' %}selected{% endif %}>유아교육과</option>
            <option value="윤리교육과" {% if selected_department == '윤리교육과' %}selected{% endif %}>윤리교육과</option>
            <option value="한문교육과" {% if selected_department == '한문교육과' %}selected{% endif %}>한문교육과</option>
            <option value="경영학과" {% if selected_department == '경영학과' %}selected{% endif %}>경영학과</option>
            <option value="경제학과" {% if selected_department == '경제학과' %}selected{% endif %}>경제학과</option>
            <option value="미디어커뮤니케이션학과" {% if selected_department == '미디어커뮤니케이션학과' %}selected{% endif %}>미디어커뮤니케이션학과</option>
            <option value="사회복지학과" {% if selected_department == '사회복지학과' %}selected{% endif %}>사회복지학과</option>
            <option value="심리학과" {% if selected_department == '심리학과' %}selected{% endif %}>심리학과</option>
            <option value="정치외교학과" {% if selected_department == '정치외교학과' %}selected{% endif %}>정치외교학과</option>
            <option value="지리학과" {% if selected_department == '지리학과' %}selected{% endif %}>지리학과</option>
            <option value="뷰티산업학과" {% if selected_department == '뷰티산업학과' %}selected{% endif %}>뷰티산업학과</option>
            <option value="소비자산업학과" {% if selected_department == '소비자산업학과' %}selected{% endif %}>소비자산업학과</option>
            <option value="스포츠과학부" {% if selected_department == '스포츠과학부' %}selected{% endif %}>스포츠과학부</option>
            <option value="의류산업학과" {% if selected_department == '의류산업학과' %}selected{% endif %}>의류산업학과</option>
            <option value="기악과" {% if selected_department == '기악과' %}selected{% endif %}>기악과</option>
            <option value="성악과" {% if selected_department == '성악과' %}selected{% endif %}>성악과</option>
            <option value="작곡과" {% if selected_department == '작곡과' %}selected{% endif %}>작곡과</option>
            <option value="국어국문학과" {% if selected_department == '국어국문학과' %}selected{% endif %}>국어국문학과</option>
            <option value="독일어문·문화학과" {% if selected_department == '독일어문·문화학과' %}selected{% endif %}>독일어문·문화학과</option>
            <option value="무용예술학과" {% if selected_department == '무용예술학과' %}selected{% endif %}>무용예술학과</option>
            <option value="문화예술경영학과" {% if selected_department == '문화예술경영학과' %}selected{% endif %}>문화예술경영학과</option>
            <option value="미디어영상연기학과" {% if selected_department == '미디어영상연기학과' %}selected{% endif %}>미디어영상연기학과</option>
            <option value="사학과" {% if selected_department == '사학과' %}selected{% endif %}>사학과</option>
            <option value="영어영문학과" {% if selected_department == '영어영문학과' %}selected{% endif %}>영어영문학과</option>
            <option value="일본어문·문화학과" {% if selected_department == '일본어문·문화학과' %}selected{% endif %}>일본어문·문화학과</option>
            <option value="중국어문·문화학과" {% if selected_department == '중국어문·문화학과' %}selected{% endif %}>중국어문·문화학과</option>
            <option value="프랑스어문·문화학과" {% if selected_department == '프랑스어문·문화학과' %}selected{% endif %}>프랑스어문·문화학과</option>
            <option value="현대실용음악학과" {% if selected_department == '현대실용음악학과' %}selected{% endif %}>현대실용음악학과</option>
            <option value="바이오헬스융합학부" {% if selected_department == '바이오헬스융합학부' %}selected{% endif %}>바이오헬스융합학부</option>
            <option value="수리통계데이터사이언스학과" {% if selected_department == '수리통계데이터사이언스학과' %}selected{% endif %}>수리통계데이터사이언스학과</option>
            <option value="화학·에너지융합학부" {% if selected_department == '화학·에너지융합학부' %}selected{% endif %}>화학·에너지융합학부</option>
            <option value="심리학과" {% if selected_department == '심리학과' %}selected{% endif %}>심리학과</option>
          </select>

          <select class="jobtips-filter-select" name="grade">
            <option value="" {% if selected_grade == '' %}selected{% endif %}>학년 전체</option>
            <option value="1" {% if selected_grade == '1' %}selected{% endif %}>1학년</option>
            <option value="2" {% if selected_grade == '2' %}selected{% endif %}>2학년</option>
            <option value="3" {% if selected_grade == '3' %}selected{% endif %}>3학년</option>
            <option value="4" {% if selected_grade == '4' %}selected{% endif %}>4학년</option>
            <option value="5" {% if selected_grade == '5' %}selected{% endif %}>휴학</option>
            <option value="6" {% if selected_grade == '6' %}selected{% endif %}>졸업</option>
          </select>

          <button type="submit" class="jobtips-custom-filter-btn">
            맞춤 검색
          </button>
        </div>
        <a class="jobtips-write-btn" href="./jobtips-post.html">글쓰기</a>
      </div>
    </form>

    <div class="jobtips-divider"></div>

 
    <div class="jobtips-list">
      <!--mock 데이터 넣어둠-->
      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>

      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>

      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>

      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>

      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>

      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>

      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>

      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>
    </div>

    <!-- 페이지네이션 -->
    <div class="jobtips-pagination">
      <button class="jobtips-page-btn">&lt;</button>
      <button class="jobtips-page-btn active">1</button>
      <button class="jobtips-page-btn">2</button>
      <button class="jobtips-page-btn">3</button>
      <button class="jobtips-page-btn">&gt;</button>
    </div>
  </div>
  </main>

  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>

  <script src="../../static/js/board-list.js"></script>
  <script>
    function setCategory(val) {
      document.getElementById('filter-category').value = val;
      document.getElementById('filter-form').submit();
    }
    function setOrder(val) {
      document.getElementById('filter-ordering').value = val;
      document.getElementById('filter-form').submit();
    }
  </script>
</body>
</html>


