<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="../../static/css/jobtips/jobtips-list.css">
</head>

<body>
  <header class="main-header">
    <div class="logo">
        <a href="{%url "home:home"%}">
            <img class="main-logo" src="{% static "img/main-logo.svg"%}"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="{% url 'experience:review_list' %}">활동 후기</a></li>
        <li><a href="{%url "jobTips:list"%}">자소서·면접·포폴</a></li>
        <li><a href="{%url "recruit:recruit_list"%}">모집</a></li>
        <li><a href="{%url "career:roadmap_home"%}">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <a href="{%url "mypage:home"%}"><button class="header-mypage-btn" >마이페이지</button></a>
      {% if user.is_authenticated %}
        <a href="{%url "accounts:logout"%}"><button class="header-login-btn">로그아웃</button></a>
      {% else %}
        <a href="{%url "accounts:login"%}"><button class="header-login-btn">로그인</button></a>
      {% endif %}
    </div>
  </header>

  <main>
  <div class="container">
    
    <!-- 전체 검색 + 필터 form 하나로 묶음 -->
    <form method="GET" id="filter-form" class="jobtips-search-form">

      <!-- 검색창 -->
      <div class="jobtips-search-section">
        <input 
          type="search" 
          placeholder="활동명으로 검색하기"
          class="jobtips-search-input"
        />

        <button type="submit" class="jobtips-search-btn">
          <img src="../../static/img/search.svg" alt="검색">
        </button>
      </div>

      <!-- 숨겨진 값 (카테고리 / 정렬) -->
      <input type="hidden" id="filter-category">
      <input type="hidden" id="filter-ordering">

      <!-- 필터링- 카테고리 -->
      <nav class="jobtips-filter-tabs">
        <ul>
          <li><button type="button" class="tab-btn" data-category="">전체</button></li>
          <li><button type="button" class="tab-btn" data-category="resume">자소서</button></li>
          <li><button type="button" class="tab-btn" data-category="interview">면접</button></li>
          <li><button type="button" class="tab-btn" data-category="portfolio">포트폴리오</button></li>
        </ul>
      </nav>

      <!-- 필터링 - 정렬 -->
      <div class="jobtips-sub-filter-bar">
        <div class="jobtips-sub-filters">
          <ul>
            <li><button type="button" class="order-btn" data-order="latest">최신순</button></li>
            <li><button type="button" class="order-btn" data-order="likes">공감순</button></li>
          </ul>
        </div>
      </div>

      <!-- 맞춤 필터링 -->
      <div class="jobtips-sub-filter-row">
        <div class="jobtips-custom-filter">
          <select class="jobtips-filter-select">
            <option value="">단과대 전체</option>
            <option value="engineering">공과대학</option>
            <option value="humanities">인문대학</option>
          </select>

          <select class="jobtips-filter-select">
            <option value="">학과 전체</option>
            <option value="computer">컴퓨터공학과</option>
            <option value="ai">AI학과</option>
          </select>

          <select class="jobtips-filter-select">
            <option value="">학년 전체</option>
            <option value="1">1학년</option>
            <option value="2">2학년</option>
            <option value="3">3학년</option>
            <option value="4">4학년</option>
            <option value="5">휴학</option>
            <option value="6">졸업</option>
          </select>

          <button type="submit" class="jobtips-custom-filter-btn">
            맞춤 검색
          </button>
        </div>
        <a class="jobtips-write-btn" href="./jobtips-post.html">글쓰기</a>
      </div>
    </form>

    <div class="jobtips-divider"></div>

 
    <div class="jobtips-list">
      <!--mock 데이터 넣어둠-->
      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>

      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>

      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>

      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>

      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>

      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>

      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>

      <a href="./jobtips-detail.html" class="jobtips-card-link">
        <div class="jobtips-card">
          <div class="jobtips-card-header">
            <div class="jobtips-card-category">자소서</div>
            <div class="jobtips-card-date">2024.11.12</div>
          </div>
          <div class="jobtips-card-title">카카오 FE 인턴 합격 자소서</div>
          <div class="jobtips-card-nickname">코딩러버</div>
          <div class="jobtips-card-period">합격 연도 + 전형 유형</div>
          <div class="jobtips-card-footer">
            <div class="jobtips-card-field">지원 분야</div>
            <div class="jobtips-card-like"><img class="jobtips-card-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>
    </div>

    <!-- 페이지네이션 -->
    <div class="jobtips-pagination">
      <button class="jobtips-page-btn">&lt;</button>
      <button class="jobtips-page-btn active">1</button>
      <button class="jobtips-page-btn">2</button>
      <button class="jobtips-page-btn">3</button>
      <button class="jobtips-page-btn">&gt;</button>
    </div>
  </div>
  </main>

  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>

  <script src="../../static/js/board-list.js"></script>
</body>
</html>


