@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  font-family: "Pretendard Variable", Pretendard, "Noto Sans KR", "Malgun Gothic", sans-serif;
}

:root {
  --purple-dark: #6b4c7d;
  --purple-light: #8a7a95;
  --purple-light-2: #a897b3;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  background: linear-gradient(135deg, #fceff8 0%, #f7f5ff 50%, #eee7fb 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  height: 60px;
  background: rgba(255, 255, 255, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(200, 180, 220, 0.2);
}

.main-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav-links a {
  color: var(--purple-dark);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: opacity 0.2s ease;
  position: relative;
}

.main-nav-links a:hover {
    color: #9c3d7e;
}

.main-header-r {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-mypage-btn {
  background: transparent;
  color: var(--purple-dark);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 600;
  font-size: 16px;
}

.header-mypage-btn:hover {
  color: #9c3d7e;
}

.header-login-btn {
  background: rgba(105,37,90,0.22);
  color: var(--purple-dark);
  border: 1px solid rgba(55, 27, 75, 0.2);
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
  font-size: 16px;
}

.header-login-btn:hover {
  background: rgba(105, 37, 90, 0.31);
}

/* 메인 콘텐츠 */
main {
  flex: 1;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.container {
  max-width: 1016px;
  margin: 0 auto;
  padding: 0 24px;  /* 양옆 패딩 */
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 80px; /* footer와 간격 */
}

.login-wrapper {
  width: 488px;
  display: flex;
  flex-direction: column;

  border-radius: 30px;
  box-shadow: inset 0 0 0 2px rgba(110,57,104,0.22),
              0 4px 4px rgba(0,0,0,0.25);
  background-color: rgba(255,228,247,0.18);

  padding: 40px;
  text-align: center;

  margin: 80px auto 100px;
}

.login-top{
  flex:5;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-logo{
  width:200px;
  height:auto;
  object-fit:contain;
}

.login-bottom{
  flex:5;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-input{
  width:100%;
  height:49px;
  padding:0 12px;

  box-sizing:border-box;
  border:2px solid rgba(110,57,104,0.22);
  margin-bottom: 16px;
  border-radius: 10px;

  background-color:rgba(105,57,90,0.22);
    
  box-shadow: none;
  outline:none;
  font-size:15px;
  color:var(--purple-dark);
}

.login-btn{
  width:100%;
  height:49px;
  padding:0 12px;

  box-sizing:border-box;
  border:2px solid rgba(110,57,104,0.22);
  border-radius: 10px;

  background-color:rgba(105,57,90,0.22);
    
  box-shadow: none;
  outline:none;

  color:#ffffff;
  font-size:16px;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: 500;
}

.login-input::placeholder{
  color:var(--purple-light);
}

.login-input:focus{
  border-color:var(--purple-dark);
  border-width:1px;
}

.login-btn:hover{
  background: rgba(76, 25, 65, 0.268);
}

.signup-btn{
  display:block;
  text-align:center;
    
  font-size:14px;
  padding:10px;
  text-decoration: none;
  color:var(--purple-dark);
  font-weight: 500;
  cursor:pointer;
}

.signup-btn:hover {
  color: #9c3d7e;
}

.footer {
  text-align: center;
  padding: 50px 10px 20px 10px;
  color: var(--purple-dark);
  font-size: 15px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.138);
}

.footer .member {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}

