.container {
  max-width: 1016px;
  margin: 0 auto;
  padding: 0 24px;  /* 양옆 패딩 */
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 80px; /* footer와 간격 */
}

.login-wrapper {
  width: 488px;
  display: flex;
  flex-direction: column;

  border-radius: 30px;
  box-shadow: inset 0 0 0 2px rgba(110,57,104,0.22),
              0 4px 4px rgba(0,0,0,0.25);
  background-color: rgba(251, 242, 248, 0.18);

  padding: 40px;
  text-align: center;

  margin: 80px auto 100px;
}

.login-top{
  flex:5;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-logo{
  width:200px;
  height:auto;
  object-fit:contain;
}

.login-bottom{
  flex:5;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-input{
  width:100%;
  height:49px;
  padding:0 12px;

  box-sizing:border-box;
  border:2px solid rgba(110,57,104,0.22);
  margin-bottom: 16px;
  border-radius: 10px;

  background-color:rgba(105,57,90,0.22);
    
  box-shadow: none;
  outline:none;
  font-size:15px;
  color:var(--purple-dark);
}

.login-btn{
  width:100%;
  height:49px;
  padding:0 12px;

  box-sizing:border-box;
  border:2px solid rgba(110,57,104,0.22);
  border-radius: 10px;

  background-color:rgba(105,57,90,0.22);
    
  box-shadow: none;
  outline:none;

  color:#ffffff;
  font-size:16px;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: 500;
}

.login-input::placeholder{
  color:var(--purple-light);
}

.login-input:focus{
  border-color:var(--purple-dark);
  border-width:1px;
}

.login-btn:hover{
  background: rgba(76, 25, 65, 0.268);
}

.signup-btn{
  display:block;
  text-align:center;
    
  font-size:14px;
  padding:10px;
  text-decoration: none;
  color:var(--purple-dark);
  font-weight: 500;
  cursor:pointer;
}

.signup-btn:hover {
  color: #9c3d7e;
}

