@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  font-family: "Pretendard Variable", Pretendard, "Noto Sans KR", "Malgun Gothic", sans-serif;
}

:root {
  --purple-dark: #6b4c7d;
  --purple-light: #755889;
  --purple-light-2: #9e8caa;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  background: linear-gradient(135deg, #ffffff 0%, #fdfaff 50%, #fdfcff 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  height: 60px;
  background: rgba(255, 255, 255, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(200, 180, 220, 0.2);
}

.main-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav-links a {
  color: var(--purple-dark);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: opacity 0.2s ease;
  position: relative;
}

.main-nav-links a:hover {
    color: #9c3d7e;
}

.main-header-r {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-mypage-btn {
  background: transparent;
  color: var(--purple-dark);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 600;
  font-size: 16px;
}

.header-mypage-btn:hover {
  color: #9c3d7e;
}

.header-login-btn {
  background: rgba(105,37,90,0.22);
  color: var(--purple-dark);
  border: 1px solid rgba(55, 27, 75, 0.2);
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
  font-size: 16px;
}

.header-login-btn:hover {
  background: rgba(105, 37, 90, 0.31);
}


main {
  flex: 1;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.container {
  max-width: 1016px;
  margin: 0 auto;
  padding: 0 24px;  /* 양옆 패딩 */
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 80px; /* footer와 간격 */
}

a {
  text-decoration: none;
  color: var(--purple-dark);
}

.myhome-received-profile-userInfo {
  width: 800px;
  margin: 40px auto 35px;
  padding: 25px;
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(15px);
  border: 2px solid rgba(146,130,161,0.3);
  border-radius: 20px;
  position: relative;
  color: var(--purple-dark);
}

.myhome-received-profile-top {
  display: flex;
  align-items: center;
  gap: 40px;
}

.myhome-received-profile-userImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(179,149,170,0.27);
  border: 1px solid var(--purple-light-2);
  background-size: cover;
  background-position: center;
}

.myhome-received-profile-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.myhome-received-profile-link-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 8px 14px;
  background: rgba(213,194,207,0.35);
  border-radius: 20px;
  font-size: 14px;
}

.myhome-received-profile-userId {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: var(--purple-dark);
}

.myhome-received-profile-academic {
  display: inline-flex;
  gap: 8px;
  padding: 4px 10px;
  margin: 8px 0 14px;
  border-radius: 20px;
  background: rgba(213,194,207,0.22);
  border: 1px solid rgba(105,57,90,0.54);
  font-size: 13px;
}

.myhome-received-profile-number{
  font-size: 16px;
  line-height: 1.6;
}

.myhome-received-profile-email{
  font-size: 16px;
  line-height: 1.6;
}

.myhome-received-profile-modify {
  position: absolute;
  right: 30px;
  bottom: 25px;
  font-size: 14px;
}

.myhome-received-qna-list-wrapper {
  width: 800px;
  margin: 0 auto 50px;
}

.myhome-received-qna-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--purple-dark);
}

.myhome-received-qna-menu {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.myhome-received-qna-received {
  padding: 6px 15px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  color:rgba(81, 38, 76, 0.9);
   border-radius: 20px;
  background:rgba(105, 57, 90, 0.385);
  border: 1px solid rgba(55, 27, 75, 0.537);
  font-size: 13px;
}

.myhome-received-qna-sent {
  padding: 6px 15px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  color:rgba(110, 57, 104, 0.9);
   border-radius: 20px;
  background:rgba(105, 57, 90, 0.22);
  border: 1px solid rgba(55, 27, 75, 0.2);
  font-size: 13px;
}

.myhome-received-qna-sent:hover {
  background: rgba(76, 25, 65, 0.268);
}

.myhome-received-qna-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--purple-dark);
}

.myhome-received-qna-card {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  height: 25px;
  background: rgba(105,57,90,0.15);
  border-radius: 10px;
}

.myhome-received-qna-title-text {
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myhome-received-qna-user {
  margin-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myhome-received-qna-card span:last-child {
  margin-left: auto;
  opacity: 0.6;
}


.footer {
  text-align: center;
  padding: 50px 10px 20px 10px;
  color: var(--purple-dark);
  font-size: 15px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(200, 180, 220, 0.2);
}

.footer .member {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}