.container {
  max-width: 1016px;
  margin: 0 auto;
  padding: 0 24px;  /* 양옆 패딩 */
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 80px; /* footer와 간격 */
}

.myhome-scrap-wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(14px);
  border-radius: 24px;
}

.myhome-scrap-title {
  font-size: 26px;
  font-weight: 600;
  color: var(--purple-dark);
  margin-bottom: 18px;
}

.myhome-scrap-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.myhome-scrap-tabs a{
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid rgba(105, 57, 90, 0.35);
  background: rgba(213, 194, 207, 0.22);
  font-size: 14px;
  color: var(--purple-dark);
  cursor: pointer;
  text-decoration: none;
}

.myhome-scrap-tabs a.active{
  background: rgba(105, 57, 90, 0.35);
}

.myhome-scrap-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.myhome-scrap-item {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  border-radius: 12px;
  background: rgba(105, 57, 90, 0.15);
  text-decoration: none;       
  color: var(--purple-dark);      
  transition: background 0.2s;
}

.myhome-scrap-item:hover {
  background: rgba(105, 57, 90, 0.25);
}

.myhome-scrap-text {
    min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--purple-dark);
}

.myhome-scrap-arrow {
  margin-left: auto;
  opacity: 0.7;
  color: var(--purple-dark);
}

.footer {
  text-align: center;
  padding: 50px 10px 20px 10px;
  color: var(--purple-dark);
  font-size: 15px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(200, 180, 220, 0.2);
}

.footer .member {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}