
.container {
  max-width: 1016px;
  margin: 0 auto;
  padding: 0 24px;  /* 양옆 패딩 */
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 80px; /* footer와 간격 */
}

.otherQnA-post-wrapper{
    width:800px; height:auto;
    margin: 30px auto;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.otherQnA-post-top{
  display:flex;
  flex-direction:column;
  width:100%;
  margin-top:25px;
}

.otherQnA-post-title{
    color:var(--purple-dark);
    font-size:26px;
    font-weight: 600;
}

.otherQnA-post-bottom{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  width:100%;
  gap:20px;
}

.otherQnA-post-bottom-title{
  display:flex;
  flex-direction:column;
  width:100%;
  height:auto;
}

.otherQnA-post-title-input{
    width:100%; height:45px;
    padding:0 14px; margin-top:5px; margin-bottom: 12px;
    box-sizing:border-box;
    border:1px solid rgba(105,57,90,0.54);
    
    border-radius: 10px;

    background-color: rgba(213, 194, 207, 0.22);
        
    box-shadow: none;
    outline:none;
    font-size:15px;
    color:var(--purple-dark);
}

.otherQnA-post-bottom p{
    color:var(--purple-dark);
    margin-bottom:3px;
}

.otherQnA-post-bottom-detail{
  display:flex;
  flex-direction:column;

  width:100%;
  height:auto;
}

.otherQnA-post-detail-input{
    width:100%; height:auto;
    min-height:320px; max-height:450px;
    padding:12px 14px; margin-top:5px; margin-bottom:12px;
    box-sizing:border-box;
    border:1px solid rgba(105,57,90,0.54);
    
    border-radius: 10px;

    background-color: rgba(213, 194, 207, 0.22);
        
    box-shadow: none;
    outline:none;
    font-size:15px;
    color:var(--purple-dark);
    margin-bottom: 16px;

    resize:none;
    overflow-y:auto;

    /**스크롤바 firefox 방식**/
    scrollbar-color:rgba(105, 57, 90, 0.35) rgba(255, 255, 255, 0.15);
    scrollbar-width:thin;
}

/**스크롤바 webkit 방식**/
.otherQnA-post-detail-input::-webkit-scrollbar{
  width:8px;
}

.otherQnA-post-detail-input::-webkit-scrollbar-track{
  background:rgba(255,255,255,0.15);
  border-radius: 10px;
}

.otherQnA-post-detail-input::-webkit-scrollbar-thumb{
  background:rgba(105, 57, 90, 0.35);
  border-radius:10px;
}

.otherQnA-post-detail-input::-webkit-scrollbar-thumb:hover{
  background:rgba(105, 57, 90, 0.6);
}

.otherQnA-post-submit{
  display:flex;
  justify-content:center;
  align-items:center;
}

.otherQnA-post-submitBtn{
  width:320px;
  height:52px;
  padding:0 12px;

  box-sizing:border-box;
  border:2px solid rgba(110,57,104,0.22);
  
  border-radius: 10px;

  background-color:rgba(105,57,90,0.22);
    
  box-shadow: none;
  outline:none;
  
  color:#ffffff;
  font-size:17px;
  margin-top: 25px;
  margin-bottom: 8px;
  cursor: pointer;
  font-weight: 300;
  letter-spacing:0.5px;
}

.otherQnA-post-submitBtn:hover{
  background: rgba(76, 25, 65, 0.268);
}

.footer {
  text-align: center;
  padding: 50px 10px 20px 10px;
  color: var(--purple-dark);
  font-size: 15px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(200, 180, 220, 0.2);
}

.footer .member {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}
