.container {
  max-width: 1016px;
  margin: 0 auto;
  padding: 0 24px;  /* 양옆 패딩 */
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 80px; /* footer와 간격 */
}

.otherQnA-detail-wrapper{
  width:800px;
  height:auto;
  display:flex;
  flex-direction:column;
  gap:30px;
  margin: 40px auto 0;
}

.otherQnA-detail-top{
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  border: 2px solid rgba(146, 130, 161, 0.3);
  border-radius:20px;
  transition: all 0.3s ease;
  display:flex;
  flex-direction:column;
  padding: 2rem 1.7rem;
  gap:12px;
}

.otherQnA-detail-title{
  display:flex;
  flex:none;
  color:var(--purple-dark);
  font-size:25px;
  font-weight: 700;
  align-items:center;
}

.otherQnA-detail-info{
  display:flex;
  flex:none;
  align-items:center;
  gap:8px;
}

.otherQnA-detail-userId{
  color:var(--purple-dark);
}

.otherQnA-detail-date{
  color:var(--purple-light-2);
}

.otherQnA-detail-question{
  width:100%;
  min-height:200px; max-height:300px;
  overflow-y:auto;
  padding:15px 20px;
  box-sizing:border-box;
  border:1px solid rgba(105,57,90,0.54);
  
  border-radius: 20px;

  background-color:rgba(245,217,242,0.22);
    
  box-shadow: none;
  outline:none;
  font-size:15px;
  color:var(--purple-dark);

  /**스크롤바 firefox 방식**/
  scrollbar-color:rgba(105, 57, 90, 0.35) rgba(255, 255, 255, 0.15);
  scrollbar-width:thin;
}

.otherQnA-detail-bottom{
  width:100%; height:auto;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.otherQnA-detail-bottom > div{
  color:var(--purple-dark);
}

.otherQnA-detail-back-btn{
  color:var(--purple-dark);
  font-size:15px;
  text-decoration:none;
  text-decoration: none;
  }

.otherQnA-detail-answer{
  width:100%;
  min-height:200px; max-height:300px;
  overflow-y:auto;
  padding:15px 20px;

  box-sizing:border-box;
  border:1px solid rgba(105,57,90,0.54);
  
  border-radius: 20px;

  background-color: rgba(213, 194, 207, 0.22);
    
  box-shadow: none;
  outline:none;
  font-size:15px;
  color:var(--purple-dark);
  margin-bottom: 20px;

  /**스크롤바 firefox 방식**/
  scrollbar-color:rgba(105, 57, 90, 0.35) rgba(255, 255, 255, 0.15);
  scrollbar-width:thin;
}

/**스크롤바 webkit 방식**/
.otherQnA-detail-answer::-webkit-scrollbar, .otherQnA-detail-question::-webkit-scrollbar{
  width:8px;
}

.otherQnA-detail-answer::-webkit-scrollbar-track, .otherQnA-detail-question::-webkit-scrollbar-track{
  background:rgba(255,255,255,0.15);
  border-radius: 10px;
}

.otherQnA-detail-answer::-webkit-scrollbar-thumb, .otherQnA-detail-question::-webkit-scrollbar-thumb{
  background:rgba(105, 57, 90, 0.35);
  border-radius:10px;
}

.otherQnA-detail-answer::-webkit-scrollbar-thumb:hover, .otherQnA-detail-question::-webkit-scrollbar-thumb:hover{
  background:rgba(105, 57, 90, 0.6);
}

