.container {
  max-width: 1016px;
  margin: 0 auto;
  padding: 0 24px;  /* 양옆 패딩 */
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 80px; /* footer와 간격 */
}

a{text-decoration:none;}

.other-profile-userInfo{
  width:800px; height:auto;
  margin: 40px auto 35px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  border: 2px solid rgba(146, 130, 161, 0.3);
  border-radius: 20px;
  display:flex;
  flex-direction:column;
  padding:25px;
  gap:10px;
}

.other-profile-userImg{
  width:150px; height:150px;
  margin-bottom:10px;
  border-radius:50%;
  background-color:rgba(179, 149, 170, 0.27);
  border:1px solid var(--purple-light-2);

  /**유저 프로필 사진**/
  background-image:url('#');
}

.other-profile-userId{
  color:var(--purple-dark);
  font-size:25px;
  font-weight: 500;
  align-items:center;
}

.other-profile-academic{
  width:max-content; height:max-content;
  padding:4px 10px; margin-bottom:10px;
  color:rgba(110, 57, 104, 0.9);
  border:1px solid rgba(105,57,90,0.54);
  
  border-radius: 20px;

  background-color: rgba(213, 194, 207, 0.22);
  font-size:13px;
}

.other-profile-userEmail{
  color:var(--purple-dark);
  font-size:18px;
}

.otherQnA-list-wrapper{
  width:800px; height:auto;
  margin: 0 auto 50px;
}

.other-profile-menu{
  width:100%; height:auto;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:25px;
  gap:10px;
}

.other-profile-qna{
  width:auto; height:auto;
  padding:6px 15px;
  background:rgba(105, 57, 90, 0.385);
  border: 1px solid rgba(55, 27, 75, 0.537);
  border-radius:30px;
  color:rgba(81, 38, 76, 0.9);
  font-size:15px;
  cursor:pointer;
}

.other-profile-roadmap{
  width:auto; height:auto;
  padding:6px 15px;
  background:rgba(105, 57, 90, 0.22);
  border: 1px solid rgba(55, 27, 75, 0.2);
  border-radius:30px;
  color:rgba(110, 57, 104, 0.9);
  font-size:15px;
  cursor:pointer;
}

.other-profile-roadmap:hover, .other-profile-qna:hover,
.otherQnA-list-writeBtn:hover, .otherQnA-list-card:hover{
  background: rgba(76, 25, 65, 0.268);
}

.other-profile-menu a:nth-child(3){
  margin-left:auto;
}

.otherQnA-list-writeBtn{
  width:auto; height:auto;
  background: rgba(105,37,90,0.22);
  color: var(--purple-dark);
  border: 1px solid rgba(55, 27, 75, 0.2);
  border-radius: 10px;
  font-size:15px;
  padding:6px 15px;
  cursor:pointer;
}

.otherQnA-list{
  display:flex;
  justify-content:center;
  flex-direction:column;
  gap:20px;
  width:100%; height:auto;
}

.otherQnA-list-card{
  width:100%; height:60px;
  padding:10px 18px;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  background-color:rgba(105, 57, 90, 0.15);
  border:none; border-radius:10px;
  color:var(--purple-dark);
}

.otherQnA-list-title{
  width:800px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.otherQnA-list-userId{
  display:inline-block;
  width:150px;
  text-align:right;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.otherQnA-list-card span{
  margin-right:6px;
}

.otherQnA-list-card span:nth-child(4){
  margin-left:auto;
}
