@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  font-family: "Pretendard Variable", Pretendard, "Noto Sans KR", "Malgun Gothic", sans-serif;
}

:root {
  --purple-dark: #69395A;
  --purple-light: #8E6781;
  --purple-light-2: #B395AA;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  background: linear-gradient(130deg, #dfd0d8 0%, #bf92b8f6 90%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  height: 60px;
  background: rgba(250, 250, 250, 0.07);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.main-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav-links a {
  color: var(--purple-dark);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: opacity 0.2s ease;
  position: relative;
}

.main-nav-links a:hover {
    color: #9c3d7e;
}

.main-header-r {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mypage-btn {
  background: transparent;
  color: var(--purple-dark);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 600;
  font-size: 16px;
}

.mypage-btn:hover {
  color: #9c3d7e;
}

.login-btn {
  background: rgba(255, 255, 255, 0.3);
  color: var(--purple-dark);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
  font-size: 16px;
}

.login-btn:hover {
  background: rgba(105,37,90,0.22);
}

/* 메인 콘텐츠 */
main {
  flex: 1;
  padding: 6rem 3rem 2rem 3rem;
  max-width: 1016px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  display:flex;
  justify-content:center;
  align-items:center;
}

.otherQnA-detail-wrapper{
  width:800px; height:auto;
  display:flex;
  flex-direction:column;
  gap:25px;
  margin-top:30px;
}

.otherQnA-detail-top{
  width:100%; height:auto;
  background: linear-gradient(130deg, #dfd0d8 0%, #bf92b8f6 90%);
  border:1px solid rgba(105,57,90,0.54);
  border-radius:30px;
  display:flex;
  flex-direction:column;
  padding:15px 0;
  gap:10px;
}

.otherQnA-detail-title{
  display:flex;
  flex:none;
  padding:0 30px;
  color:var(--purple-dark);
  font-size:25px;
  font-weight: 500;
  align-items:center;
}

.otherQnA-detail-info{
  display:flex;
  flex:none;
  padding:0 30px;
  align-items:center;
  gap:8px;
}

.otherQnA-detail-userId{
  color:var(--purple-dark);
}

.otherQnA-detail-date{
  color:var(--purple-light);
}

.otherQnA-detail-question{
  width:100%;
  min-height:200px; max-height:300px;
  overflow-y:auto;
  padding:4px 15px;
  box-sizing:border-box;
  border:1px solid rgba(105,57,90,0.54);
  
  border-radius: 30px;

  background-color:rgba(245,217,242,0.22);
    
  box-shadow: none;
  outline:none;
  font-size:15px;
  color:var(--purple-dark);

  /**스크롤바 firefox 방식**/
  scrollbar-color:rgba(105, 57, 90, 0.35) rgba(255, 255, 255, 0.15);
  scrollbar-width:thin;
}

.otherQnA-detail-bottom{
  width:100%; height:auto;
  display:flex;
  flex-direction:column;
  gap:4px;
}

.otherQnA-detail-bottom > div{
  color:var(--purple-dark);
}

.otherQnA-detail-answer{
  width:100%;
  min-height:200px; max-height:300px;
  overflow-y:auto;
  padding:4px 15px;

  box-sizing:border-box;
  border:1px solid rgba(105,57,90,0.54);
  
  border-radius: 30px;

  background-color:rgba(105,57,90,0.15);
    
  box-shadow: none;
  outline:none;
  font-size:15px;
  color:var(--purple-dark);
  margin-bottom: 16px;

  /**스크롤바 firefox 방식**/
  scrollbar-color:rgba(105, 57, 90, 0.35) rgba(255, 255, 255, 0.15);
  scrollbar-width:thin;
}

/**스크롤바 webkit 방식**/
.otherQnA-detail-answer::-webkit-scrollbar, .otherQnA-detail-question::-webkit-scrollbar{
  width:8px;
}

.otherQnA-detail-answer::-webkit-scrollbar-track, .otherQnA-detail-question::-webkit-scrollbar-track{
  background:rgba(255,255,255,0.15);
  border-radius: 10px;
}

.otherQnA-detail-answer::-webkit-scrollbar-thumb, .otherQnA-detail-question::-webkit-scrollbar-thumb{
  background:rgba(105, 57, 90, 0.35);
  border-radius:10px;
}

.otherQnA-detail-answer::-webkit-scrollbar-thumb:hover, .otherQnA-detail-question::-webkit-scrollbar-thumb:hover{
  background:rgba(105, 57, 90, 0.6);
}

.footer {
  text-align: center;
  padding: 50px 10px 20px 10px;
  color: var(--purple-dark);
  font-size: 15px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.138);
}

.footer .member {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}

