@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  font-family: "Pretendard Variable", Pretendard, "Noto Sans KR", "Malgun Gothic", sans-serif;
}

:root {
  --purple-dark: #6b4c7d;
  --purple-light: #8a7a95;
  --purple-light-2: #a897b3;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  background: linear-gradient(135deg, #f6effc 0%, #f7f5ff 50%, #e7effb 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  height: 60px;
  background: rgba(255, 255, 255, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(200, 180, 220, 0.2);
}

.main-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav-links a {
  color: var(--purple-dark);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: opacity 0.2s ease;
  position: relative;
}

.main-nav-links a:hover {
    color: #9c3d7e;
}

.main-header-r {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mypage-btn {
  background: transparent;
  color: var(--purple-dark);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 600;
  font-size: 16px;
}

.mypage-btn:hover {
  color: #9c3d7e;
}

.login-btn {
  background: rgba(105,37,90,0.22);
  color: var(--purple-dark);
  border: 1px solid rgba(55, 27, 75, 0.2);
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
  font-size: 16px;
}

.login-btn:hover {
  background: rgba(105, 37, 90, 0.31);
}

/* 메인 콘텐츠 */
main {
  flex: 1;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.container {
  max-width: 1016px;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  box-sizing: border-box;
}

.verification-wrapper {
  width: 488px;
  background-color: rgba(255,228,247,0.18);

  border-radius: 30px;
  box-shadow: inset 0 0 0 2px rgba(110,57,104,0.22),
              0 4px 4px rgba(0,0,0,0.25);

  padding: 40px;
  margin: 80px auto 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.verification-top{
  color:var(--purple-dark);
  font-size:15px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.vertification-title{
  color:var(--purple-dark);
  font-size:25px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.6;
}

.verification-form{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:20px;
  width:100%;
}

.verification-info{
  display:flex;
  flex-direction:column;
  gap:16px;
  margin-top:20px;
  width:100%;
}

.verification-info input{
  width:100%;
  height:49px;
  padding:0 12px;

  box-sizing:border-box;
  border:2px solid rgba(110,57,104,0.22);
  
  border-radius: 10px;

  background-color:rgba(105,57,90,0.22);
    
  box-shadow: none;
  outline:none;
  color:var(--purple-dark);
  font-size:15px
}

.verification-info input::placeholder{
  color:var(--purple-light);
}

.verification-info input:focus{
  border-color:var(--purple-dark);
  border-width:1px;
}

.verification-img{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  gap:16px;
}

.verify-img-input{
  display:none;
}

.verify-img-upload{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:12px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.verify-img-upload p{
  color:var(--purple-light);
  font-size:13px;
}

.verify-img-btn{
  width:55px;
  height:55px;
  font-size:25px;

  box-sizing:border-box;
  border:1px solid rgba(110,57,104,0.20);
  border-radius: 50%;

  background-color:rgba(105,57,90,0.20);
    
  box-shadow: none;
  outline:none;
  color:var(--purple-light);
  cursor:pointer;
}

.verification-img button:hover{
  background: rgba(105,37,90,0.22);
}

.verify-img-preview{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:12px;

  width:100%;
  height:auto;
  padding:10px;
}

.verify-preview-img{
  width:100%;
  max-width:350px;
  max-height:300px;
  object-fit:contain;
}

.verify-reset-btn{
  width:92px;
  height:21px;
  padding:0 12px;

  box-sizing:border-box;
  border:1px solid rgba(110,57,104,0.22);
  
  border-radius: 30px;

  background-color:rgba(105,57,90,0.22);
    
  box-shadow: none;
  outline:none;
  color:var(--purple-dark);
  cursor:pointer;
  margin-top:10px;
}

.verification-submit{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.verification-submit:hover{
  background: rgba(76, 25, 65, 0.268);
}

.verification-submit{
  width:100%;
  height:49px;
  padding:0 12px;

  box-sizing:border-box;
  border:2px solid rgba(110,57, 104,0.22);
  
  border-radius: 10px;

  background-color:rgba(105,57,90,0.22);
    
  box-shadow: none;
  outline:none;
  color:rgb(255, 255, 255);
  cursor:pointer;
  font-size:16px;
  font-weight: 500;
}

.footer {
  text-align: center;
  padding: 50px 10px 20px 10px;
  color: var(--purple-dark);
  font-size: 15px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.129);
}

.footer .member {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}
