@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  font-family: "Pretendard Variable", Pretendard, "Noto Sans KR", "Malgun Gothic", sans-serif;
}

:root {
  --purple-dark: #69395A;
  --purple-light: #8E6781;
  --purple-light-2: #B395AA;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  background: linear-gradient(130deg, #dfd0d8 0%, #6d3965f6 90%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  height: 60px;
  background: rgba(250, 250, 250, 0.07);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.main-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav-links a {
  color: var(--purple-dark);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: opacity 0.2s ease;
  position: relative;
}

.main-nav-links a:hover {
    color: #9c3d7e;
}

.main-header-r {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mypage-btn {
  background: transparent;
  color: var(--purple-dark);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 600;
  font-size: 16px;
}

.mypage-btn:hover {
  color: #9c3d7e;
}

.login-btn {
  background: rgba(255, 255, 255, 0.3);
  color: var(--purple-dark);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
  font-size: 16px;
}

.login-btn:hover {
  background: rgba(255, 255, 255, 0.45);
}

/* 메인 콘텐츠 */
main {
  flex: 1;
  padding: 6rem 3rem 2rem 3rem;
  max-width: 1016px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  display:flex;
  justify-content:center;
  align-items:center;
}

.verification-wrapper{
  width:488px; height:auto;
    
  display:flex;
  flex-direction:column;

  border-radius:30px;
  box-shadow:inset 0 0 0 2px rgba(110,57,104,0.22),
              0 4px 4px rgba(0,0,0,0.25);

  background-color:rgba(255,228,247,0.18);
  padding:40px;
  text-align:center;
  margin-top:40px;
}

.verification-top{
  color:var(--purple-dark);
  font-size:15px;
}

.verification-top h1{
  font-size:25px;
}

.verification-form{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:20px;
  width:100%;
}

.verification-info{
  display:flex;
  flex-direction:column;
  gap:16px;
  margin-top:20px;
  width:100%;
}

.verification-info input{
  width:100%;
  height:49px;
  padding:0 12px;

  box-sizing:border-box;
  border:1px solid rgba(110,57,104,0.22);
  
  border-radius: 10px;

  background-color:rgba(105,57,90,0.22);
    
  box-shadow: none;
  outline:none;
  color:var(--purple-dark);
  font-size:15px
}

.verification-info input::placeholder{
  color:var(--purple-dark);
}

.verification-info input:focus{
  border-color:var(--purple-dark);
  border-width:1px;
}

.verification-img{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  gap:16px;
}

.verify-img-input{
  display:none;
}

.verify-img-upload{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:12px;
}

.verify-img-upload p{
  color:var(--purple-light);
  font-size:10px;
}

.verify-img-btn{
  width:55px;
  height:55px;
  font-size:25px;

  box-sizing:border-box;
  border:1px solid rgba(110,57,104,0.20);
  border-radius: 50%;

  background-color:rgba(105,57,90,0.20);
    
  box-shadow: none;
  outline:none;
  color:rgba(235, 212, 228, 1);
  cursor:pointer;
}

.verification-img button:hover{
  background: rgba(105,37,90,0.22);
}

.verify-img-preview{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:12px;

  width:100%;
  height:auto;
  padding:10px;
}

.verify-preview-img{
  width:100%;
  max-width:350px;
  max-height:300px;
  object-fit:contain;
}

.verify-reset-btn{
  width:92px;
  height:21px;
  padding:0 12px;

  box-sizing:border-box;
  border:1px solid rgba(110,57,104,0.22);
  
  border-radius: 30px;

  background-color:rgba(105,57,90,0.22);
    
  box-shadow: none;
  outline:none;
  color:var(--purple-dark);
  cursor:pointer;
}

.verification-submit{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.verification-submit input:hover{
  background: rgba(105,37,90,0.22);
}

.verification-submit input{
  width:100%;
  height:49px;
  padding:0 12px;

  box-sizing:border-box;
  border:1px solid rgba(110,57, 104,0.22);
  
  border-radius: 10px;

  background-color:rgba(105,57,90,0.22);
    
  box-shadow: none;
  outline:none;
  color:rgba(235, 212, 228, 1);
  cursor:pointer;
  font-size:16px
}

.footer {
  text-align: center;
  padding: 50px 10px 20px 10px;
  color: var(--purple-dark);
  font-size: 15px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.129);
}

.footer .member {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}
