.container {
  max-width: 1016px;
  margin: 0 auto;
  padding: 0 24px;  /* 양옆 패딩 */
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 80px; /* footer와 간격 */
}

.verification-wrapper {
  width: 488px;
  background-color: rgba(251, 242, 248, 0.18);

  border-radius: 30px;
  box-shadow: inset 0 0 0 2px rgba(110,57,104,0.22),
              0 4px 4px rgba(0,0,0,0.25);

  padding: 40px;
  margin: 80px auto 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.verification-top{
  color:var(--purple-dark);
  font-size:15px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.verification-title{
  color:var(--purple-dark);
  font-size:25px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.6;
}

.verification-form{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:20px;
  width:100%;
}

.verification-info{
  display:flex;
  flex-direction:column;
  gap:16px;
  margin-top:20px;
  width:100%;
}

.verification-name{
  width:100%;
  height:49px;
  padding:0 12px;

  box-sizing:border-box;
  border:2px solid rgba(110,57,104,0.22);
  
  border-radius: 10px;

  background-color:rgba(105,57,90,0.22);
    
  box-shadow: none;
  outline:none;
  color:var(--purple-dark);
  font-size:15px
}

.verification-name::placeholder{
  color:var(--purple-light);
}

.verification-name:focus{
  border-color:var(--purple-dark);
  border-width:1px;
}

.verification-img{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  gap:16px;
}

.verify-img-input{
  display:none;
}

.verify-img-upload{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:12px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.verify-img-upload p{
  color:var(--purple-light);
  font-size:13px;
}

.verify-img-btn{
  width:55px;
  height:55px;
  font-size:25px;

  box-sizing:border-box;
  border:1px solid rgba(110,57,104,0.20);
  border-radius: 50%;

  background-color:rgba(105,57,90,0.20);
    
  box-shadow: none;
  outline:none;
  color:var(--purple-light);
  cursor:pointer;
}

.verification-img button:hover{
  background: rgba(105,37,90,0.22);
}

.verify-img-preview{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:12px;

  width:100%;
  height:auto;
  padding:10px;
}

.verify-preview-img{
  width:100%;
  max-width:350px;
  max-height:300px;
  object-fit:contain;
}

.verify-reset-btn{
  width:92px;
  height:21px;
  padding:0 12px;

  box-sizing:border-box;
  border:1px solid rgba(110,57,104,0.22);
  
  border-radius: 30px;

  background-color:rgba(105,57,90,0.22);
    
  box-shadow: none;
  outline:none;
  color:var(--purple-dark);
  cursor:pointer;
  margin-top:10px;
}

.verification-submit:hover{
  background: rgba(76, 25, 65, 0.268);
}

.verification-submit{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:49px;
  padding:0 12px;

  box-sizing:border-box;
  border:2px solid rgba(110,57, 104,0.22);
  
  border-radius: 10px;

  background-color:rgba(105,57,90,0.22);
    
  box-shadow: none;
  outline:none;
  color:rgb(255, 255, 255);
  cursor:pointer;
  font-size:16px;
  font-weight: 500;
}

.footer {
  text-align: center;
  padding: 50px 10px 20px 10px;
  color: var(--purple-dark);
  font-size: 15px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(200, 180, 220, 0.2);
}

.footer .member {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}

.verify-img-preview { display: none; }