<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="../../static/css/signup.css">
</head>

<body>
  <header class="main-header">
    <div class="logo">
        <a href="../../home/templates/home.html">
            <img class="main-logo" src="../../static/img/main-logo.svg"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="../../experience/templates/experience-list.html">활동 후기</a></li>
        <li><a href="#">자소서·면접·포폴</a></li>
        <li><a href="#">모집</a></li>
        <li><a href="#">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <button class="mypage-btn">마이페이지</button>
      <button class="login-btn" href="{% url 'accounts:login' %}">로그인</button>
    </div>
  </header>

  <main>
  <div class="container">

    <div class="signup-wrapper">
      <div class="signup-top">
        <div class="signup-title">회원가입</div>
      </div>

      <form method="post" class="signup-form">
        <div class="signup-box">

          <input class="signup-input" type="text" name="email" placeholder="이메일">
          <input class="signup-input" type="text" name="username" placeholder="학번">
          <input class="signup-input" type="text" name="display_name" placeholder="닉네임">
          <input class="signup-input" type="password" name="password1" placeholder="비밀번호">
          <input class="signup-input" type="password" name="password2" placeholder="비밀번호 확인">

          <div class="signup-academic">
            <select name="grade" class="signup-grade-select">
              <option disabled selected>학년 선택</option>
              <option value="1">1학년</option>
              <option value="2">2학년</option>
              <option value="3">3학년</option>
              <option value="4">4학년</option>
              <option value="5">휴학</option>
              <option value="6">졸업생</option>
            </select>

            <select id="collegeSelect" name="college" class="signup-college-select">
              <option disabled selected>단과대 선택</option>
              <option value="NUR">간호대학</option>
              <option value="ENG">공과대학</option>
              <option value="ART">미술대학</option>
              <option value="LAW">법과대학</option>
              <option value="EDU">사범대학</option>
              <option value="SOC">사회과학대학</option>
              <option value="LIF">생활산업대학</option>
              <option value="MUS">음악대학</option>
              <option value="HUMA">인문융합예술대학</option>
              <option value="NAT">자연과학대학</option>
            </select>
          </div>

          <select id="deptSelect" name="department" class="signup-department-select" disabled>
            <option value="" disabled selected>학과 선택</option>
          </select>

        </div>
        <button class="signup-submit" type="submit">가입하기</button>
      </form>

    </div>

  </div>
  </main>


  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>
  <script src="../../static/js/Signup.js"></script>
</body>
</html>


