{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="{% static 'css/Verification.css' %}">
</head>

<body>
  <header class="main-header">
    <div class="logo">
        <a href="{%url 'home:home' %}">
            <img class="main-logo" src="{% static 'img/main-logo.svg' %}"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="{% url 'experience:review_list' %}">활동 후기</a></li>
        <li><a href="{%url 'jobTips:list' %}">자소서·면접·포폴</a></li>
        <li><a href="{%url 'recruit:recruit_list' %}">모집</a></li>
        <li><a href="{%url 'career:roadmap_home' %}">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <a href="{%url 'mypage:home' %}"><button class="header-mypage-btn" >마이페이지</button></a>
      {% if user.is_authenticated %}
        <a href="{%url 'accounts:logout' %}"><button class="header-login-btn">로그아웃</button></a>
      {% else %}
        <a href="{%url 'accounts:login'%}"><button class="header-login-btn">로그인</button></a>
      {% endif %}
    </div>
  </header>

  <main>
  <div class="container">

    <div class="verification-wrapper">

      <div class="verification-top">
        <div class="verification-title">학생 인증</div>
        <p>
          수정브릿지는 성신여대 학생 전용 서비스입니다.<br>
          학생 인증을 완료해야 이용하실 수 있습니다.
        </p>
      </div>

      <form method="post" class="verification-form" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="verification-img">
          <input class="verify-img-input" type="file" accept="image/*" name="verification_document">

          <!-- 사진 업로드 전 -->
          <div class="verify-img-upload" style="display:none">
            <button type="button" class="verify-img-btn">+</button>
            <p>
              학생증 전체가 나오도록 촬영해주세요.<br>
              불필요한 개인정보는 가려도 됩니다.
            </p>
          </div>

          <!-- 사진 업로드 후 -->
          <div class="verify-img-preview" style="display:flex">
            <img class="verify-preview-img" {% if verification_obj and verification_obj.verification_document %} 
              src="{{ verification_obj.verification_document.url }}" data-existing="1" {% endif %} alt="학생증 미리보기">
            <button type="button" class="verify-reset-btn">사진 초기화</button>
          </div>
        </div>

        {% if form.verification_document.errors %}
          <p class="field-error">학생증 사진을 업로드해 주세요.</p>
        {% endif %}

        <div class="verification-info">
          <input class="verification-name" type="text" placeholder="성명" name="real_name">
          {% if form.real_name.errors %}
            <p class="field-error">이름을 입력해 주세요.</p>
          {% endif %}
        </div>

        <button class="verification-submit" type="submit">
          인증하기
        </button>

      </form>

    </div>

  </div>
  </main>


  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>

  <script src="{% static 'js/Verification.js' %}"></script>
</body>
</html>


