<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="../../static/css/experience/experience-list.css">
</head>

<body>
  <header class="main-header">
    <div class="logo">
        <a href="../../home/templates/home.html">
            <img class="main-logo" src="../../static/img/main-logo.svg"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="../../experience/templates/experience-list.html">활동 후기</a></li>
        <li><a href="#">자소서·면접·포폴</a></li>
        <li><a href="#">모집</a></li>
        <li><a href="#">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <button class="header-mypage-btn">마이페이지</button>
      <button class="header-login-btn">로그인</button>
    </div>
  </header>

  <main>
  <div class="container">
   <div class="search-section">
      <form class="search-bar" method="GET" action="">
        <input type="search" placeholder="활동명으로 검색하기" class="search-input">
        <button type="submit">
            <img src="../../static/img/search.svg" alt="검색">
        </button>
      </form>
      <nav class="filter-tabs">
        <ul>
            <li><a href="experience-list.html">전체</a></li>
            <li><a href="experience-list-club.html" class="active">동아리</a></li>
            <li><a href="experience-list-seminar.html">학회</a></li>
            <li><a href="experience-list-contest.html">공모전</a></li>
            <li><a href="experience-list-intern.html">인턴</a></li>
        </ul>
      </nav>
    </div>

    <div class="sub-filter-bar">
        <div class="sub-filters">
            <ul>
                <li><a href="?" class="active">최신순</a></li>
                <li><a href="?ordering=rating">평점순</a></li>
                <li><a href="?ordering=likes">공감순</a></li>
                <li><a href="?custom=true">맞춤 필터링</a></li>
            </ul>
        </div>
       <a class="write-btn" href="./experience-post.html">글쓰기</a>
    </div>

    <div class="divider"></div>

    <!--mock 데이터-->
    <div class="post-list">
      <a href="./experience-detail.html" class="post-card-link">
        <div class="post-card">
          <div class="post-header">
            <div class="post-category">동아리</div>
            <div class="post-date">2024.11.12</div>
          </div>
          <div class="post-title">컴공 과동아리 활동 후기</div>
          <div class="post-nickname">코딩러버</div>
          <div class="post-period">2024.03 - 2024.11</div>
          <div class="post-footer">
            <div class="post-star">평점 4.5</div>
            <div class="post-like"><img class="post-like-img" src="../../static/img/like.svg">15</div>
          </div>
        </div>
      </a>
    </div>

    <!-- 페이지네이션 -->
    <div class="pagination">
      <button class="page-btn">&lt;</button>
      <button class="page-btn active">1</button>
      <button class="page-btn">2</button>
      <button class="page-btn">3</button>
      <button class="page-btn">&gt;</button>
    </div>
  </div>
  </main>

  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>
  
</body>
</html>
