<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="../../static/css/board-post-common.css">
</head>

<body>
  <header class="main-header">
    <div class="logo">
        <a href="../../home/templates/home.html">
            <img class="main-logo" src="../../static/img/main-logo.svg"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="../experience/templates/experience-list.html">활동 후기</a></li>
        <li><a href="#">자소서·면접·포폴</a></li>
        <li><a href="#">모집</a></li>
        <li><a href="#">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <button class="mypage-btn">마이페이지</button>
      <button class="login-btn">로그인</button>
    </div>
  </header>

<main>
  <div class="container">

    <h2 class="post-title">활동 후기 남기기</h2>

    <form method="POST" enctype="multipart/form-data" class="write-form">
      <label class="post-label">제목</label>
      <input type="text" class="post-input" placeholder="활동 제목을 간단히 입력해주세요 (예: WAGI 3기 동아리 활동 후기)" required>
      
      <label class="post-label">카테고리</label>
      <div class="post-category">
        <label><input type="radio" value="동아리" required> 동아리</label>
        <label><input type="radio" value="학회"> 학회</label>
        <label><input type="radio" value="공모전"> 공모전</label>
        <label><input type="radio" value="인턴"> 인턴</label>
      </div>

      <label class="post-label">활동 기간</label>
      <input type="text" class="post-input" placeholder="예: 2024.03 - 2024.11" required>

      <label class="post-label">후기 본문</label>
      <textarea class="post-textarea" required></textarea>

      <label class="post-label">파일 업로드</label>
      <div class="post-upload-area">
        <label class="post-upload-btn">
          +
          <input type="file" id="upload-input" multiple>
        </label>

        <div class="post-upload-preview" id="upload-preview">
          <!-- 업로드된 이미지 미리보기, 파일명 미리보기(다중 선택 가능) -->
        </div>
      </div>

      <label class="post-label">평점</label>
      <input type="text" class="post-input" placeholder="평점을 입력해주세요 (5점 만점)" required>
      
      <label class="post-label">태그 추가</label>
      <div class="tag-input-wrapper">
        <input type="text" id="tag-input" class="tag-input" placeholder="태그를 입력해주세요">
        <button type="button" id="add-tag-btn" class="tag-add-btn">추가</button>
      </div>
      <!-- 태그 보여주는 영역 -->
      <div class="tag-list" id="tag-list"></div>
      <!-- 서버로 보낼 hidden input -->
      <input type="hidden" id="hidden-tags">

      <button type="submit" class="post-submit-btn">
        완료하기
      </button>
    </form>

  </div>
</main>


  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>

  <script src="../../static/js/experience-post.js"></script>
</body>
</html>