{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="{% static 'css/experience/experience-post.css' %}">
</head>

<body>
  <header class="main-header">
    <div class="logo">
        <a href="{%url "home:home"%}">
            <img class="main-logo" src="{% static "img/main-logo.svg"%}"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="{% url 'experience:review_list' %}">활동 후기</a></li>
        <li><a href="{%url "jobTips:list"%}">자소서·면접·포폴</a></li>
        <li><a href="{%url "recruit:recruit_list"%}">모집</a></li>
        <li><a href="{%url "career:roadmap_home"%}">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <a href="{%url "mypage:home"%}"><button class="header-mypage-btn" >마이페이지</button></a>
      {% if user.is_authenticated %}
        <a href="{%url "accounts:logout"%}"><button class="header-login-btn">로그아웃</button></a>
      {% else %}
        <a href="{%url "accounts:login"%}"><button class="header-login-btn">로그인</button></a>
      {% endif %}
    </div>
  </header>

<main>
  <div class="container">

    <div class="ex-post-title">활동 후기 남기기</div>

    <form method="POST" action="{% url 'experience:review_create' %}" enctype="multipart/form-data" class="ex-post-form">
      {% csrf_token %}
      <label class="ex-post-label">제목</label>
      <input type="text" name="title" class="ex-post-input" placeholder="활동 제목을 간단히 입력해주세요 (예: WAGI 3기 동아리 활동 후기)" required>
      
      <label class="ex-post-label">카테고리</label>
      <div class="ex-post-category">
        <label><input type="radio" name="category" value="club" required> 동아리</label>
        <label><input type="radio" name="category" value="academic"> 학회</label>
        <label><input type="radio" name="category" value="contest"> 공모전</label>
        <label><input type="radio" name="category" value="intern"> 인턴</label>
      </div>

      <label class="ex-post-label">활동 기간</label>
      <input type="text" name="activity_period" class="ex-post-input" placeholder="예: 2024.03 - 2024.11" required>

      <label class="ex-post-label">후기 본문</label>
      <textarea name="content" class="ex-post-textarea" required></textarea>

      <label class="ex-post-label">파일 업로드</label>
      <div class="ex-post-upload-area">
        <label class="ex-post-upload-btn">
          +
          <input type="file" name="files" id="ex-upload-input" multiple required>
        </label>

        <div class="ex-post-upload-preview" id="ex-upload-preview">
          <!-- 업로드된 이미지 미리보기, 파일명 미리보기(다중 선택 가능) -->
        </div>
      </div>

      <label class="ex-post-label">평점</label>
      <input type="number" name='rating' class="ex-post-input" placeholder="평점을 입력해주세요 (5점 만점)" min="1" max="5" required>
      
      <label class="ex-post-label">태그 추가</label>
      <div class="ex-tag-input-wrapper">
        <input type="text" id="ex-tag-input" name="tags" class="ex-tag-input" placeholder="태그를 입력해주세요">
        <button type="button" id="ex-add-tag-btn" class="ex-tag-add-btn">추가</button>
      </div>
      <!-- 태그 보여주는 영역 -->
      <div class="ex-tag-list" id="ex-tag-list"></div>
      <!-- 서버로 보낼 hidden input -->
      <input type="hidden" id="ex-hidden-tags" name="tags">

      <button type="submit" class="ex-post-submit-btn">
        완료하기
      </button>
    </form>

  </div>
</main>


  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>

  <script src="{% static 'js/experience-post.js' %}"></script>
</body>
</html>