<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="../../static/css/experience-detail.css">
</head>

<body>
  <header class="main-header">
    <div class="logo">
        <a href="../home/templates/home.html">
            <img class="main-logo" src="../../static/img/main-logo.svg"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="../experience/templates/experience-list.html">활동 후기</a></li>
        <li><a href="#">자소서·면접·포폴</a></li>
        <li><a href="#">모집</a></li>
        <li><a href="#">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <button class="mypage-btn">마이페이지</button>
      <button class="login-btn">로그인</button>
    </div>
  </header>

  <main>
    <div class="detail-container">
      <!-- 상단 헤더 영역 -->
      <div class="post-header">
        <div class="post-info">
          <h1 class="post-title">카카오 FE 인턴 합격 자소서</h1>
          <div class="post-meta">
            <span class="author">닉네임</span>
            <span class="field">자소서 지원분야</span>
          </div>
        </div>
        <div class="share-section">
          <button class="share-btn">
            <span class="share-count">63</span>
          </button>
        </div>
      </div>
      
      <!-- 합격 여부 태그 -->
      <div class="status-tags">
        <span class="status-tag pass">합격 여부</span>
        <span class="status-tag interview">전형 유형</span>
      </div>
    </div>
  </main>

  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>
</body>
</html>