{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="../../static/css/myhome-post.css">
</head>

<body>
  <header class="main-header">
    <div class="logo">
        <a href="{%url "home:home"%}">
            <img class="main-logo" src="{% static "img/main-logo.svg"%}"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="{% url 'experience:review_list' %}">활동 후기</a></li>
        <li><a href="{%url "jobTips:list"%}">자소서·면접·포폴</a></li>
        <li><a href="{%url "recruit:recruit_list"%}">모집</a></li>
        <li><a href="{%url "career:roadmap_home"%}">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <a href="{%url "mypage:home"%}"><button class="header-mypage-btn" >마이페이지</button></a>
      {% if user.is_authenticated %}
        <a href="{%url "accounts:logout"%}"><button class="header-login-btn">로그아웃</button></a>
      {% else %}
        <a href="{%url "accounts:login"%}"><button class="header-login-btn">로그인</button></a>
      {% endif %}
    </div>
  </header>

  <main>
  <div class="container">
    <div class="myhome-post-wrapper">
        <div class="myhome-post-title">남긴 게시글 모아 보기</div>
        
        <div class="myhome-post-tabs">
            <a href="?category=" class="active">전체</a>
            <a href="?category=experience">활동 후기</a>
            <a href="?category=resume">자소서·면접·포폴</a>
            <a href="?category=recruit">모집</a>
        </div>

        <div class="myhome-post-list">
        <a href="#" class="myhome-post-item">
            <span class="myhome-post-text">제목</span>
            <span class="myhome-post-arrow">&gt;</span>
        </a>
        <a href="#" class="myhome-post-item">
            <span class="myhome-post-text">제목</span>
            <span class="myhome-post-arrow">&gt;</span>
        </a>
        <a href="#" class="myhome-post-item">
            <span class="myhome-post-text">제목</span>
            <span class="myhome-post-arrow">&gt;</span>
        </a>
        <a href="#" class="myhome-post-item">
            <span class="myhome-post-text">제목ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</span>
            <span class="myhome-post-arrow">&gt;</span>
        </a>
        <a href="#" class="myhome-post-item">
            <span class="myhome-post-text">제목</span>
            <span class="myhome-post-arrow">&gt;</span>
        </a>
        <a href="#" class="myhome-post-item">
            <span class="myhome-post-text">제목</span>
            <span class="myhome-post-arrow">&gt;</span>
        </a>
        </div>

  </div>

  </div>
</main>

  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>
</body>
</html>