<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="../../static/css/myhome-received.css">
</head>

<body>
  <header class="main-header">
    <div class="logo">
        <a href="{%url "home:home"%}">
            <img class="main-logo" src="{% static "img/main-logo.svg"%}"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="{% url 'experience:review_list' %}">활동 후기</a></li>
        <li><a href="{%url "jobTips:list"%}">자소서·면접·포폴</a></li>
        <li><a href="{%url "recruit:recruit_list"%}">모집</a></li>
        <li><a href="{%url "career:roadmap_home"%}">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <a href="{%url "mypage:home"%}"><button class="header-mypage-btn" >마이페이지</button></a>
      {% if user.is_authenticated %}
        <a href="{%url "accounts:logout"%}"><button class="header-login-btn">로그아웃</button></a>
      {% else %}
        <a href="{%url "accounts:login"%}"><button class="header-login-btn">로그인</button></a>
      {% endif %}
    </div>
  </header>

  <main>
  <div class="container">

    <div class="myhome-received-profile-userInfo">

      <div class="myhome-received-profile-top">
        <div class="myhome-received-profile-left">
          <div class="myhome-received-profile-userImg"></div>
        </div>

        <div class="myhome-received-profile-right">
          <a href="../../career/templates/myroadmaphome.html" class="myhome-received-profile-link-box">
            <span>나의 로드맵 바로가기</span><span>></span>
          </a>
          <a href="../../mypage/templates/myhome-scrap.html" class="myhome-received-profile-link-box">
            <span>스크랩 모아 보기</span><span>></span>
          </a>
          <a href="../../mypage/templates/myhome-post.html" class="myhome-received-profile-link-box">
            <span>남긴 게시글 보기</span><span>></span>
          </a>
        </div>
      </div>

      <div class="myhome-received-profile-userId">닉네임</div>

      <div class="myhome-received-profile-academic">
        <span class="myhome-received-profile-grade">2학년</span>
        <span class="myhome-received-profile-major">컴퓨터공학과</span>
      </div>

      <div class="myhome-received-profile-number">
        <span class="myhome-received-profile-number-label">학번 | </span>
        <span class="myhome-received-profile-number-value">20231234</span>
    </div>
    
    <div class="myhome-received-profile-email">
        <span class="myhome-received-profile-email-label">이메일 | </span>
        <span class="myhome-received-profile-email-value">sujeong@naver.com</span>
    </div>

      <div class="myhome-received-profile-modify">
        <a href="./myhome-edit.html"><span>프로필 수정하기</span><span>></span></a>
      </div>

    </div>

    <div class="myhome-received-qna-list-wrapper">

      <div class="myhome-received-qna-title">나의 Q&A</div>

      <div class="myhome-received-qna-menu">
        <a href="">
          <button type="button" class="myhome-received-qna-received">내가 받은</button>
        </a>
        <a href="./myhome-sent.html">
          <button type="button" class="myhome-received-qna-sent">내가 보낸</button>
        </a>
      </div>

      <div class="myhome-received-qna-list">
        <a href="" class="myhome-received-qna-link">
          <div class="myhome-received-qna-card">
            <span class="myhome-received-qna-title-text">제목</span>
            <span>></span>
          </div>
        </a>
        <a href="" class="myhome-received-qna-link">
          <div class="myhome-received-qna-card">
            <span class="myhome-received-qna-title-text">제목</span>
            <span>></span>
          </div>
        </a>
        <a href="" class="myhome-received-qna-link">
          <div class="myhome-received-qna-card">
            <span class="myhome-received-qna-title-text">제목</span>
            <span>></span>
          </div>
        </a>
        <a href="" class="myhome-received-qna-link">
          <div class="myhome-received-qna-card">
            <span class="myhome-received-qna-title-text">제목</span>
            <span>></span>
          </div>
        </a>
        <a href="" class="myhome-received-qna-link">
          <div class="myhome-received-qna-card">
            <span class="myhome-received-qna-title-text">제목</span>
            <span>></span>
          </div>
        </a>
        <a href="" class="myhome-received-qna-link">
          <div class="myhome-received-qna-card">
            <span class="myhome-received-qna-title-text">제목</span>
            <span>></span>
          </div>
        </a>

      </div>

    </div>

  </div>
</main>

  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>
</body>
</html>