{% extends 'base.html' %}
{% load static %}

{% block title %}SujeongBridge - 마이페이지{% endblock %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/myhome-received.css' %}">
{% endblock %}

{% block content %}
  <div class="myhome-received-profile-userInfo">

    <div class="myhome-received-profile-top">
      <div class="myhome-received-profile-left">
        <div class="myhome-received-profile-userImg"></div>
      </div>

      <div class="myhome-received-profile-right">
        <a href="{%url 'career:roadmap_home'%}" class="myhome-received-profile-link-box">
          <span>나의 로드맵 바로가기</span><span>></span>
        </a>
        <a href="{%url 'mypage:scrap_list' category='all'%}" class="myhome-received-profile-link-box">
          <span>스크랩 모아 보기</span><span>></span>
        </a>
        <a href="{%url 'mypage:my_post_list' category='all' %}" class="myhome-received-profile-link-box">
          <span>남긴 게시글 보기</span><span>></span>
        </a>
      </div>
    </div>

    <div class="myhome-received-profile-userId">{{ user.display_name }}</div>

    <div class="myhome-received-profile-academic">
      <span class="myhome-received-profile-grade">{{user.grade}}학년</span>
      <span class="myhome-received-profile-major">{{user.department.dept_name}}</span>
    </div>

    <div class="myhome-received-profile-number">
      <span class="myhome-received-profile-number-label">학번 | </span>
      <span class="myhome-received-profile-number-value">{{user.username}}</span>
  </div>
  
  <div class="myhome-received-profile-email">
      <span class="myhome-received-profile-email-label">이메일 | </span>
      <span class="myhome-received-profile-email-value">{{user.email}}</span>
  </div>

    <div class="myhome-received-profile-modify">
      <a href="{%url 'mypage:profile_update'%}"><span>프로필 수정하기</span><span>></span></a>
    </div>

  </div>

  <div class="myhome-received-qna-list-wrapper">

    <div class="myhome-received-qna-title">나의 Q&A</div>

    <div class="myhome-received-qna-menu">
      <a href="{%url 'mypage:home'%}">
        <button type="button" class="myhome-received-qna-received">내가 받은</button>
      </a>
      <a href="{%url 'mypage:sent'%}">
        <button type="button" class="myhome-received-qna-sent">내가 보낸</button>
      </a>
    </div>

    <div class="myhome-received-qna-list">
      {% for q in received_list %}
      <a href="{% url 'qna:detail' q.id %}" class="myhome-received-qna-link">
        <div class="myhome-received-qna-card">
          <span class="myhome-received-qna-title-text">{{ q.title }}</span>
          <span>></span>
        </div>
      </a>
      {% empty %}
        <div class="otherQnA-list-empty">받은 QnA가 없습니다.</div>
      {% endfor %}
    </div>

  </div>
{% endblock %}