<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="../../static/css/myhome-sent.css">
</head>

<body>
  <header class="main-header">
    <div class="logo">
        <a href="../../home/templates/home.html">
            <img class="main-logo" src="../../static/img/main-logo.svg"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="../../experience/templates/experience-list.html">활동 후기</a></li>
        <li><a href="#">자소서·면접·포폴</a></li>
        <li><a href="#">모집</a></li>
        <li><a href="#">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <button class="header-mypage-btn">마이페이지</button>
      <button class="header-login-btn">로그인</button>
    </div>
  </header>

  <main>
  <div class="container">

    <div class="myhome-sent-profile-userInfo">

      <div class="myhome-sent-profile-top">
        <div class="myhome-sent-profile-left">
          <div class="myhome-sent-profile-userImg"></div>
        </div>

        <div class="myhome-sent-profile-right">
          <a href="../../career/templates/myroadmaphome.html" class="myhome-sent-profile-link-box">
            <span>나의 로드맵 바로가기</span><span>></span>
          </a>
          <a href="../../mypage/templates/myhome-scrap.html" class="myhome-sent-profile-link-box">
            <span>스크랩 모아 보기</span><span>></span>
          </a>
          <a href="" class="myhome-sent-profile-link-box">
            <span>남긴 게시글 보기</span><span>></span>
          </a>
        </div>
      </div>

      <div class="myhome-sent-profile-userId">닉네임</div>

      <div class="myhome-sent-profile-academic">
        <span class="myhome-sent-profile-grade">2학년</span>
        <span class="myhome-sent-profile-major">컴퓨터공학과</span>
      </div>

      <div class="myhome-sent-profile-number">
        <span class="myhome-sent-profile-number-label">학번 | </span>
        <span class="myhome-sent-profile-number-value">20231234</span>
    </div>
    
    <div class="myhome-sent-profile-email">
        <span class="myhome-sent-profile-email-label">이메일 | </span>
        <span class="myhome-sent-profile-email-value">sujeong@naver.com</span>
    </div>

      <div class="myhome-sent-profile-modify">
        <a href=""><span>프로필 수정하기</span><span>></span></a>
      </div>

    </div>

    <div class="myhome-sent-qna-list-wrapper">

      <div class="myhome-sent-qna-title">나의 Q&A</div>

      <div class="myhome-sent-qna-menu">
        <a href="./myhome-received.html">
          <button type="button" class="myhome-sent-qna-received">내가 받은</button>
        </a>
        <a href="">
          <button type="button" class="myhome-sent-qna-sent">내가 보낸</button>
        </a>
      </div>

      <div class="myhome-sent-qna-list">

        <a href="" class="myhome-sent-qna-link">
          <div class="myhome-sent-qna-card">
            <span class="myhome-sent-qna-title-text">제목</span>
            <span>></span>
          </div>
        </a>
        <a href="" class="myhome-sent-qna-link">
          <div class="myhome-sent-qna-card">
            <span class="myhome-sent-qna-title-text">제목</span>
            <span>></span>
          </div>
        </a>
        <a href="" class="myhome-sent-qna-link">
          <div class="myhome-sent-qna-card">
            <span class="myhome-sent-qna-title-text">제목</span>
            <span>></span>
          </div>
        </a>
        <a href="" class="myhome-sent-qna-link">
          <div class="myhome-sent-qna-card">
            <span class="myhome-sent-qna-title-text">제목</span>
            <span>></span>
          </div>
        </a>
        <a href="" class="myhome-sent-qna-link">
          <div class="myhome-sent-qna-card">
            <span class="myhome-sent-qna-title-text">제목</span>
            <span>></span>
          </div>
        </a>
        <a href="" class="myhome-sent-qna-link">
          <div class="myhome-sent-qna-card">
            <span class="myhome-sent-qna-title-text">제목</span>
            <span>></span>
          </div>
        </a>

      </div>

    </div>

  </div>
</main>

  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>
</body>
</html>