{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SujeongBridge</title>
  <link rel="stylesheet" href="{% static 'css/myroadmap/myroadmaphome.css' %}">
</head>

<body>
  <header class="main-header"> 
    <div class="logo">
        <a href="../../home/templates/home.html">
            <img class="main-logo" src="{% static 'img/main-logo.svg' %}"></a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-links">
        <li><a href="../../experience/templates/experience-list.html">활동 후기</a></li>
        <li><a href="#">자소서·면접·포폴</a></li>
        <li><a href="#">모집</a></li>
        <li><a href="#">나의 로드맵</a></li>
      </ul>
    </nav>
    <div class="main-header-r">
      <button class="header-mypage-btn">마이페이지</button>
      <button class="header-login-btn">로그인</button>
    </div>
  </header>

<main>
  <div class="container">
    <div class="roadmap-title">나의 로드맵</div>

    <div class="roadmap-container">
      <div class="timeline">
        <div class="dot"></div>
      </div>

      <div class="roadmap-cards" id="roadmap-cards"></div>
    </div>

    <a class="roadmap-post-btn" href="./myroadmap-post.html">+</a>
  </div>
</main>

  <footer class="footer">
    <p>© SSWU_WAGI 3기 CampusBridge</p>
    <p class="member">BACKEND  <br /> FRONTEND </p>
  </footer>

  <template id="roadmap-card-template">
    <div class="card accordion" data-id="">
      <div class="roadmap-card-title"></div>

      <div class="roadmap-content">
        <div class="roadmap-meta">
          <span class="roadmap-category"></span>
          <span class="roadmap-date"></span>

          <a class="roadmap-detail" href="#">
            상세보기 &gt;
          </a>
        </div>
      </div>
    </div>
  </template>

 <script>
  const cardsData = [
    {% for e in entries %}
      {
        id: {{ e.id }},
        year: {{ e.year }},
        title: "{{ e.title|escapejs }}",
        category: "{{ e.category|escapejs }}",
        date: "{{ e.date|escapejs }}"
      }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ];
</script>
<script src="{% static 'js/myroadmap.js' %}"></script>

</body>
</html>
